<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="com.urbancode.air.module.PVCSCICO" name="PVCSCICO" version="1"/>
    <description>
      Support for checkin checkout from PVCS.
    </description>
    <tag>Repositories/Source/PVCS</tag>
  </header>
  
  <!-- ==================================== -->
  <!--   SCM STEPS                          -->
  <!-- ==================================== -->
  <!-- PVCS Checkout with GET command-->
  <step-type name="PVCS Checkout">
    <description>Checkout the project codes</description>
  
    <properties>
      <property name="pcliPath" required="true">
        <property-ui description="Path to the PCLI executable." label="PCLI Path" default-value="C:\Program Files (x86)\Serena\vm\win64\bin\pcli.exe" type="textBox"/>
      </property>
    
      <property name="databasePath" required="true">
        <property-ui description="Path to the PVCS database." label="Database Path" type="textBox"/>
      </property>
    
      <!-- <property name="basePath" required="true">
        <property-ui description="Base path of Get / checked out files" label="Base Path" type="textBox"/>
      </property> -->
    
      <!-- <property name="projectPath">
        <property-ui description="Path to PVCS project (folder) relative to database" label="Project Path" type="textBox"/>
      </property> -->
    
      <!-- <property name="branch">
        <property-ui description="Get the latest files from this branch. (Only specify one of these values)" label="Branch" type="textBox"/>
      </property> -->
      
      <!-- <property name="label" required="true">
        <property-ui description="Get the latest files with this label (Only specify one of these values)" label="Label" type="textBox"/>
      </property> -->
      
      <!-- <property name="promotionGroup">
        <property-ui description="Get the latest files in this promotion group. (Only specify one of these values)" label="Promotion Group" type="textBox"/>
      </property> -->

      <property name="cleanWorkspace">
        <property-ui description="Erase all files from the workspace before performing export." label="Clean Workspace" type="checkBox"/>
      </property>

      <property name="user" required="true">
        <property-ui description="Authentication user" label="User" type="textBox"/>
      </property>

      <property name="password" required="true">
        <property-ui description="Authentication password" label="Password" type="secureBox"/>
      </property>

      <property name="lockPath" required="true">
        <property-ui description="the subproject path to lock / checkout" default-value="\" label="unlockPath" type="textBox"/>
      </property>

      <property name="preCMD">
        <property-ui description="the pcli command need to place before default" label="preCMD" type="textBox"/>
      </property>
      
      <property name="postCMD" required="true">
        <property-ui description="the pcli command need to place after default" label="postCMD" type="textBox"/>
      </property>
    </properties>
    
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put("Status", "Failure");
        }
        else {
            properties.put("Status", "Success");
        }
      ]]>
    </post-processing>
    
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/PVCS-Checkout.jar"/>
      <arg file="pvcs_checkout.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>

  <!-- PVCS Checkin with PUT command -->
    <step-type name="PVCS Checkin">
    <description>checkin the Artifacts</description>
  
    <properties>
      <property name="pcliPath" required="true">
       <!-- chinese description test -->
        <property-ui description="Path to the PCLI executable." label="PCLI Path" default-value="C:\Program Files (x86)\Serena\vm\win64\bin\pcli.exe" type="textBox"/>
      </property>
    
      <property name="databasePath" required="true">
        <property-ui description="Path to the PVCS database." label="Database Path" type="textBox"/>
      </property>
    
      <property name="basePath">
        <property-ui description="[D] Base path of Put / checked in files" label="Base Path" type="textBox"/>
      </property>
    
      <property name="projectPath">
        <property-ui description="Path to PVCS project (folder) relative to database" label="Project Path" type="textBox"/>
      </property>
    
      <property name="branch">
        <property-ui description="Put the latest files to this branch. (Only specify one of these values)" label="Branch" type="textBox"/>
      </property>
      
      <property name="label" required="true">
        <property-ui description="Put the latest files with this label (Only specify one of these values)" label="Label" type="textBox"/>
      </property>
      
      <property name="promotionGroup">
        <property-ui description="Put the latest files in this promotion group. (Only specify one of these values)" label="Promotion Group" type="textBox"/>
      </property>

      <property name="cleanWorkspace">
        <property-ui description="Erase all files from the workspace before performing export." label="Clean Workspace" type="checkBox"/>
      </property>

      <property name="user" required="true">
        <property-ui description="Authentication user" label="User" type="textBox"/>
      </property>

      <property name="password" required="true">
        <property-ui description="Authentication password" label="Password" type="secureBox"/>
      </property>

      <property name="unlockPath" required="true">
        <property-ui description="the subproject path to unlock / checkout" default-value="\" label="unlockPath" type="textBox"/>
      </property>
      
      <property name="changeDescription" required="true">
        <property-ui description="The description to use in change history." label="changeDescription" type="textBox"/>
      </property>

    </properties>
     

    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put("Status", "Failure");
        }
        else {
            properties.put("Status", "Success");
        }
      ]]>
    </post-processing>
    
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/PVCS-Checkout.jar"/>
      <arg file="pvcs_checkin.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
</plugin>
